.containner{
    margin-top: 50px;
    height: 550px;
    
}
 table tr th {
    
    width: 10px;
    line-height: 20px;
   
}
.product-feature{
    display: flex;
    background-color: white;   
}
.product-features .deall{
    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid black;
}
.product-features{
    height: 500px;
    overflow-x: hidden;
    width: auto;
    display: flex;
}
.container-product-detail{
    background-color: #fff;
    height: fit-content;
    box-shadow: -2px -2px 2px rgb(230, 277, 277), 2px 2px 2px white;
}
.product-item-pic img{
    height: 550px;
}

.exclusive-deals{
    display: block;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
    height: 300px;
    width: auto;
    box-shadow: -2px -2px 2px rgb(230, 277, 277), 2px 2px 2px white;
}


.p-join p{
   background-color: yellow;
   margin: 5px;
   width: 150px;
   padding: 4px;
   padding-left: 50px;
   align-items: center;

}
.payment_form p{
    color: white;
    text-decoration: none;
}